.board-location {
    outline-color: dimgray;
}

.game-board {
    background-attachment: scroll;
    background-clip:content-box;
    background-color: rgb(65, 10, 104);
    background-repeat: repeat;
    outline-color: black;
    outline-width: thick;
    outline-style: ridge;
    border-radius: 10px 10px;
}   

body {
    background-color: rgb(255, 255, 255);
}

.player-tiles {
    background-attachment: scroll;
    background-clip: padding-box;
    background-color: rgb(109, 73, 16);
    outline-color: black;
    outline-width: medium;
    outline-style: ridge;
    border-radius: 15px 15px;
}

img.title {
    image-rendering: pixelated;
    width: 65%;
    max-width: 480px;
    height: auto;
    align-self: center;
}

p.connecting {
    align-self: center;
    size:64pt;
}

p.error-message {
    align-self: center;
}

p.error-help-message {
    align-self: center;
}

.info {
    font-family: 'Times New Roman', Times, serif;
    max-height: 65%;
    max-width: 85%;
    overflow: scroll;

}

.info-button {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.page-body {
    position: relative;
}

.hostname-button {
    width: 50%;
}

.port-button {
    width: 50%;
}